In [1]:
import pandas as pd
import numpy as np

football = pd.read_csv('data_sf.csv')

#  PY-ANALYSIS B1.3.2 Метод info
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [2]:
# PY-ANALYSIS B1.3.3 Метод describe

football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [3]:
football.describe(include = ['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

## PY-ANALYSIS B1.4.1 Статистические параметры. Индексация и извлечение данных

1. Чему равен средний возраст (Age), футболистов в наборе данных, округлённый до целого?

In [8]:
round(football['Age'].mean())

25

2. Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах?

In [2]:
football['Name'].count()

12897

3. Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

In [4]:
round(football['ShortPassing'].std(),2)

14.74

4. Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

In [5]:
football['Wage'].sum()

96954000

5. Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

In [2]:
football['Value'].min()

0

## B1.4.2 Извлекаем данные по условиям

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? Ответ округлите до сотых.

In [9]:
res = football[football.Wage>football.Wage.mean()]['SprintSpeed'].mean()
round(res,2)

67.57

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? Ответ округлите до сотых.

In [10]:
res = football[football.Wage<football.Wage.mean()]['SprintSpeed'].mean()
round(res,2)

62.41

3. Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [12]:
football[football.Wage==football.Wage.max()]['Position']

0    RF
Name: Position, dtype: object

4. Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [13]:
football[football.Nationality=='Brazil']['Penalties'].sum()

22789

5. Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. Ответ округлите до сотых.

In [14]:
res = football[football['HeadingAccuracy']>50]['Age'].mean()
round(res, 2)

25.59

6. Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

In [18]:
football[(football.Composure>football.Composure.max()*0.9) & (football.Reactions>football.Reactions.max()*0.9)]['Age'].min()

24

7. Определите, на сколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [20]:
old = football[(football.Age == football.Age.max())].Reactions.mean()
young = football[(football.Age == football.Age.min())].Reactions.mean()
round(old-young, 2)

22.64

8. Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [2]:
football[(football.Value > football.Value.mean())].Nationality.value_counts()

Spain         211
Brazil        130
France        123
Argentina     122
England       113
             ...
Georgia         1
Comoros         1
Iraq            1
Uzbekistan      1
Haiti           1
Name: Nationality, Length: 98, dtype: int64

In [4]:
football[football.Value > football.Value.mean()].Nationality.value_counts()

Spain                 211
Brazil                130
France                123
Argentina             122
England               113
                     ...
Tanzania                1
Iceland                 1
Haiti                   1
Trinidad & Tobago       1
Dominican Republic      1
Name: Nationality, Length: 98, dtype: int64

9. Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). Ответ округлите до сотых.

In [25]:
first = football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
second = football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean()
round(first/second,2)

2.77

10. Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией.Ответ округлите до сотых.

In [27]:
agressive = football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
not_agressive = football[(football.Aggression == football.Aggression.min())].ShotPower.mean()
round(agressive / not_agressive, 2)

2.08

## B2.2.2 Функция value_counts

Сколько футбольных клубов представлено в датасете?

In [30]:
football['Club'].value_counts().count()

650

Отметьте названия футбольных клубов, представленных в датасете наибольшим количеством игроков

In [32]:
football['Club'].value_counts().head(10)

Shonan Bellmare       30
V-Varen Nagasaki      30
FC Emmen              29
Padova                29
Vissel Kobe           29
De Graafschap         29
Exeter City           28
Accrington Stanley    28
Cambridge United      28
Coventry City         28
Name: Club, dtype: int64

Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете (скопируйте ответ из Jupyter Notebook)?

In [33]:
football['Club'].value_counts().tail(1)

Atlético Mineiro    6
Name: Club, dtype: int64

## B2.2.3 Подсчет количества значений в процентах

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [34]:
s = football['Position'].value_counts(normalize = True)
s[s > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [35]:
s = football['Position'].value_counts(normalize = True)
s[s < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

## B2.2.4 Подсчет количества значений по численным признакам

In [4]:
print(print)

<built-in function print>

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [2]:
football['FKAccuracy'].value_counts(bins=[20,40,60,80,100])

(19.999, 40.0]    5428
(40.0, 60.0]      4145
(60.0, 80.0]      1714
(80.0, 100.0]       66
Name: FKAccuracy, dtype: int64

In [37]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [ ]:
# (21.2, 39.4]     4859

## B2.2.5 Функции unique и nunique

Отметьте все варианты кода, после выполнения которого переменная result будет содержать количество видов позиций (Position), которые занимают игроки, представленные в датасете:

In [49]:
result = football['Position'].nunique()
result = len(football['Position'].unique())
result = len(football['Position'].value_counts())

## B2.2.6 Преобразование серии value_counts в датафрейм

In [2]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()

display(s_df)

In [3]:
s_df.columns = ['Nationality','Players Count']
display(s_df)

## B2.2.7 Практика

1. У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [15]:
import pandas as pd 
df = pd.read_csv('data_sf.csv')
# print(df[df.Nationality == 'Spain'].Wage.value_counts(bins=4))
spain_df = df[df['Nationality'] == 'Spain']
result = spain_df.Wage.value_counts(bins=4)
display(result)

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

In [12]:
round((football[(football.Nationality == 'Spain')].Wage.value_counts(normalize=, bins=4))*100, 0)

SyntaxError: invalid syntax (<ipython-input-12-944eaa24a764>, line 1)

2. Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [3]:
football[(football.Club == 'Manchester United')].Nationality.nunique()

13

3. С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [41]:
football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')].Name.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

4. Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [43]:
football[(football.Age > 35)].Club.value_counts()

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Club Atlético Talleres        3
Club Atlético Tigre           3
Benevento                     3
                             ..
Sporting de Charleroi         1
IFK Göteborg                  1
Accrington Stanley            1
Oxford United                 1
Walsall                       1
Name: Club, Length: 212, dtype: int64

5. С помощью функции value_counts с параметром bins разбейте всех футболистов родом из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту. Сколько футболистов в возрасте от 34,75 до 41 года в сборной Аргентины?

In [44]:
football[(football.Nationality == 'Argentina')].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

6. Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [47]:
round(football[(football.Nationality == 'Spain')].Age.value_counts(normalize = True)*100, 2).head()

21    11.77
22     9.54
20     7.75
23     7.15
25     6.41
Name: Age, dtype: float64

## B2.3.1 Функция groupby

1. Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.
RM

In [51]:
group = football.groupby(['Position']).Wage.sum().sort_values(ascending=False)
group[group>5000000]

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

## B2.3.2 Ещё примеры группировки

Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю ценность?

In [53]:
football.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending=False).head()

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06

Какова средняя зарплата футболистов на данной позиции?

In [ ]:
	75125

## B2.3.3 Другие агрегирующие функции

In [5]:
import pandas as pd
foot_df = pd.read_csv("data_sf.csv")
new_df=foot_df.groupby('Club')['Wage'].agg(['mean','median'])
print(type(new_df),'\n')
print(new_df.head(),'\n')
print(len(new_df[new_df['mean'] == new_df['median']]))

<class 'pandas.core.frame.DataFrame'>

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000

52

In [6]:
new_df.sort_values(by='mean')

                                 mean  median
Club
Dundalk                   1000.000000    1000
IF Brommapojkarna         1000.000000    1000
IK Sirius                 1000.000000    1000
St. Patrick's Athletic    1000.000000    1000
Patriotas Boyacá FC       1000.000000    1000
...                               ...     ...
Manchester United       117850.000000  110000
Manchester City         129041.666667  132500
Juventus                166785.714286  160000
FC Barcelona            180318.181818  145000
Real Madrid             188090.909091  207500

[650 rows x 2 columns]

1. Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [5]:
group = (football.groupby(['Club'])['Wage'].agg(['mean', 'median']))
display(group)
new_df = (group[group['mean'] == group['median']])
len(new_df)

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

52

2. Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?

Как называется клуб, где игроки получают такую зарплату?

In [58]:
new_df.sort_values(['mean'], ascending=False).head()

                mean  median
Club
Cruzeiro     13000.0   13000
Göztepe SK    7000.0    7000
Brøndby IF    6000.0    6000
Sunderland    4000.0    4000
CD Feirense   4000.0    4000

## B2.3.4 Практика

1. С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [60]:
football.groupby(football['Club'] == 'Chelsea')['Wage'].sum()

Club
False    94919000
True      2035000
Name: Wage, dtype: int64

In [9]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
group = df.groupby(['Club'])['Wage'].sum()
print(type(group))
print(group.head())
new_df = group['Chelsea']
display(new_df)

<class 'pandas.core.series.Series'>
Club
 SSV Jahn Regensburg     90000
1. FC Heidenheim 1846    76000
1. FC Kaiserslautern     33000
1. FC Köln               92000
1. FC Magdeburg          84000
Name: Wage, dtype: int64

2035000

2. Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [61]:
football[(football.Nationality == 'Argentina') & (football.Age == 20)].Wage.max()

54000

3. Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет

In [4]:
football[(football.Nationality == 'Argentina') & (football.Age == 30)].Wage.max()

300000

4. Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [62]:
football[(football.Nationality == 'Argentina') & (football.Age == 30)].Wage.min()

1000

5. Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.

In [63]:
football[(football.Club == 'FC Barcelona') & (football.Nationality == 'Argentina')][['Strength', 'Balance']].max()

Strength    59
Balance     95
dtype: int64

## B2.4.2 Функция pivot_table

In [64]:
pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'], columns=['Club'], aggfunc='sum')
display(pivot.head())

                           Wage
Club               FC Barcelona  Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0  205000.0          206000.0         NaN
Belgium                110000.0       NaN          230000.0    240000.0
Bosnia Herzegovina          NaN  180000.0               NaN         NaN
Brazil                 465000.0  335000.0           91000.0    570000.0
Chile                  205000.0       NaN          215000.0         NaN

In [65]:
pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'], columns=['Club'], aggfunc='sum', margins=True)
display(pivot.tail())

                    Wage
Club        FC Barcelona   Juventus Manchester United Real Madrid       All
Nationality
Serbia               NaN        NaN          165000.0         NaN    165000
Spain           912000.0        NaN          260000.0   1404000.0   2576000
Uruguay         455000.0        NaN               NaN         NaN    455000
Wales                NaN        NaN           13000.0    355000.0    368000
All            3967000.0  2335000.0         2357000.0   4138000.0  12797000

Сводная таблица, показывающая максимальные зарплаты игроков на разных позициях, играющих за разные клубы, была создана с помощью кода:

df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')

С помощью какого кода можно получить из этой таблицы информацию о максимальной зарплате вратаря (GK), играющего за футбольный клуб "Manchester City"?

In [66]:
df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.loc['Manchester City']['GK']

125000.0

## B2.4.3 Замена отсутствующих значений

In [4]:

# pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
# index=['Nationality'], columns=['Club'], aggfunc='sum', margins=True, fill_value=0)
# display(pivot.head())

import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(columns = 'Position', index = 'Club', values = 'Name', aggfunc = 'count', fill_value=0)
display(pivot.head())
round(pivot['GK'].mean(), 3)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1

2.525

Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [1]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(columns = 'Position', index = 'Club', values = 'Name', aggfunc = 'count', fill_value=0)
round(pivot['GK'].mean(),3)

2.525

In [2]:
pivot.head()

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1

Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

In [15]:
import pandas as pd 
football = pd.read_csv('data_sf.csv')
pivot = football.pivot_table(columns = 'Position', index = 'Club', values = 'Name', aggfunc = 'count', fill_value=0)
print(pivot.index, '\n')
print(pivot.columns)
print(len(pivot[pivot['CM'] == 0]))

Index([' SSV Jahn Regensburg', '1. FC Heidenheim 1846', '1. FC Kaiserslautern',
       '1. FC Köln', '1. FC Magdeburg', '1. FC Nürnberg', '1. FC Union Berlin',
       '1. FSV Mainz 05', 'AC Ajaccio', 'AC Horsens',
       ...
       'Wycombe Wanderers', 'Yeni Malatyaspor', 'Yeovil Town',
       'Yokohama F. Marinos', 'Zagłębie Lubin', 'Zagłębie Sosnowiec',
       'Çaykur Rizespor', 'Örebro SK', 'Östersunds FK', 'Śląsk Wrocław'],
      dtype='object', name='Club', length=650)

Index(['CAM', 'CB', 'CDM', 'CF', 'CM', 'GK', 'LAM', 'LB', 'LCB', 'LCM', 'LDM',
       'LF', 'LM', 'LS', 'LW', 'LWB', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF',
       'RM', 'RS', 'RW', 'RWB', 'ST'],
      dtype='object', name='Position')
136

## B2.4.4 Практика

1. С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".

In [73]:
pivot = football.pivot_table(columns='Club', index='Nationality', values='Wage')
pivot.loc['Russia']['AS Monaco']

61000.0

2. Создайте сводную таблицу, содержащую сведения о средней скорости футболистов (SprintSpeed), занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.

In [19]:
pivot = football.pivot_table(columns='Position', index='Club', values='SprintSpeed', aggfunc='mean', fill_value=0)
print(pivot.index, '\n')
print(pivot.columns)
pivot.max().sort_values(ascending=False).head(3)

Index([' SSV Jahn Regensburg', '1. FC Heidenheim 1846', '1. FC Kaiserslautern',
       '1. FC Köln', '1. FC Magdeburg', '1. FC Nürnberg', '1. FC Union Berlin',
       '1. FSV Mainz 05', 'AC Ajaccio', 'AC Horsens',
       ...
       'Wycombe Wanderers', 'Yeni Malatyaspor', 'Yeovil Town',
       'Yokohama F. Marinos', 'Zagłębie Lubin', 'Zagłębie Sosnowiec',
       'Çaykur Rizespor', 'Örebro SK', 'Östersunds FK', 'Śląsk Wrocław'],
      dtype='object', name='Club', length=650)

Index(['CAM', 'CB', 'CDM', 'CF', 'CM', 'GK', 'LAM', 'LB', 'LCB', 'LCM', 'LDM',
       'LF', 'LM', 'LS', 'LW', 'LWB', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF',
       'RM', 'RS', 'RW', 'RWB', 'ST'],
      dtype='object', name='Position')

Position
LM    94.0
RS    94.0
RM    94.0
dtype: float64

In [9]:
df4 = football.pivot_table(values = 'SprintSpeed', columns = 'Position', index = 'Club', aggfunc = 'mean', fill_value = 0)
df7 = pd.Series()
for i in range(len(df4.columns)):
    df7[df4.columns[i]] = df4[df4.columns[i]].max()
display(df7.sort_values(ascending=False)[0:3])

RS    94.0
RM    94.0
LM    94.0
dtype: float64

3. Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.

In [2]:
import pandas as pd 
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values = 'SprintSpeed', columns = 'Position', index = 'Club', aggfunc = 'mean', fill_value = 0)
pivot['ST'].sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [6]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

# pivot = df.loc[df['Position'].isin(['ST'])]
# pivot = pivot.pivot_table(values=['SprintSpeed'],index=['Club'],columns=['Position'],aggfunc='mean',fill_value=0)
pivot = df.pivot_table(values = 'SprintSpeed', columns = 'Position', index = 'Club', aggfunc = 'mean', fill_value = 0)
pivot['ST'].sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [2]:
import pandas as pd

df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [17]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.loc[df['Club'].isin(['AS Monaco'])].pivot_table(index=['Nationality'], values='Wage',
                       columns=['Club'], aggfunc='sum', fill_value=0)

In [23]:
pivot.loc['Russia', :].sum()

78000.0

In [19]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(columns='Club', index='Nationality', values='Wage')
pivot.loc['Russia']['AS Monaco']

Club,SSV Jahn Regensburg,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC Köln,1. FC Magdeburg,1. FC Nürnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,AC Horsens,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,Zagłębie Lubin,Zagłębie Sosnowiec,Çaykur Rizespor,Örebro SK,Östersunds FK,Śląsk Wrocław
Nationality,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,NaN,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

61000.0

In [14]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
a_st = df[df['Position'] == 'ST']
pivot = a_st.pivot_table(index='Club', values='SprintSpeed', aggfunc = 'mean', fill_value = 0).sort_values(by='SprintSpeed', ascending = False)
display(pivot)

                      SprintSpeed
Club
Vitória                 91.000000
Sydney FC               88.000000
CD Lugo                 87.000000
Brøndby IF              84.666667
Leicester City          84.500000
...                           ...
SV Darmstadt 98         47.500000
Real Sociedad           46.000000
San Jose Earthquakes    45.000000
1. FC Magdeburg         44.000000
Club Tijuana            40.000000

[591 rows x 1 columns]

In [21]:
df = pd.read_csv('data_sf.csv')
a_st = df[df['Position'] == 'ST']
pivot = a_st.pivot_table(index='Position',
                       values='SprintSpeed',
                       columns='Club',
                       aggfunc = 'mean',
                       fill_value = 0,
                       )
display(pivot.sort_values(by='ST', axis=1, ascending=False))

Club,Vitória,Sydney FC,CD Lugo,Brøndby IF,Leicester City,Manchester United,Feyenoord,KRC Genk,FC Bayern München,FC Zürich,...,Club Atlético Tigre,Chievo Verona,Estudiantes de La Plata,Çaykur Rizespor,Beijing Renhe FC,SV Darmstadt 98,Real Sociedad,San Jose Earthquakes,1. FC Magdeburg,Club Tijuana
Position,,,,,,,,,,,,,,,,,,,,,
ST,91,88,87,84.666667,84.5,84,84,84,84,84,...,49.5,49.5,49,48,47.5,47.5,46,45,44,40

In [22]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.loc[df['Club'].isin(['AS Monaco'])].pivot_table(index=['Nationality'], values='Wage',
                       columns=['Club'],
                       aggfunc='sum',
                       fill_value=0)

In [25]:
display(pivot.loc['Russia', :])

Club
AS Monaco    61000
Name: Russia, dtype: int64

In [26]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(columns='Club', index='Nationality', values='Wage')
pivot.loc['Russia']['AS Monaco']

61000.0

In [1]:
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 110, 'source': 'facebook'},
]
res=[]
for i in results:
  res.append(i['cost'])
print(min(res))

98

In [4]:
min([k['cost'] for k in results])

98

In [5]:
'A' < 'a'

True

In [11]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df_gk = df.loc[df['Position'].isin(['GK'])]
df_gk.pivot_table(values=['Name'],index=['Club'],columns=['Position'],aggfunc='count',fill_value=0)

                      Name
Position                GK
Club
 SSV Jahn Regensburg     3
1. FC Heidenheim 1846    2
1. FC Kaiserslautern     3
1. FC Köln               3
1. FC Magdeburg          3
...                    ...
Zagłębie Sosnowiec       3
Çaykur Rizespor          3
Örebro SK                3
Östersunds FK            3
Śląsk Wrocław            3

[645 rows x 1 columns]

In [12]:
pivot = df.pivot_table(columns = 'Position', index = 'Club', values = 'Name', aggfunc = 'count', fill_value=0)
pivot

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,3,2,2,0,0,3,0,3,1,0,...,1,1,0,1,0,2,0,0,0,1
Çaykur Rizespor,1,2,5,0,0,3,0,2,1,0,...,3,0,0,1,0,1,0,0,0,1
Örebro SK,0,4,0,0,1,3,0,0,1,1,...,0,1,1,0,0,0,0,2,2,5
Östersunds FK,1,1,0,1,3,3,0,2,1,1,...,1,1,0,0,0,1,0,1,0,1
Śląsk Wrocław,0,1,3,0,1,3,0,2,1,0,...,2,1,0,1,0,2,1,0,0,2

In [13]:
pivot['GK'].sum()

1641